= check_box_tag t('tasks.show_closed_tasks'), '1', checked, class: 'form-check-input cursor-pointer', data: { reflex: 'click->TasksReflex#show_hide_task', target: 'tasks.hide_closed_task' }
= label_tag t('tasks.show_closed_tasks'), t('tasks.show_closed_tasks'), class: 'form-check-label cursor-pointer', value: '0'
