@import 'bootstrap/scss/bootstrap';
@import 'izitoast/dist/css/iziToast.css';

@import './variables';
@import './authencation';

body {
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

.alert-modal {
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 10px;  
}

.text-proper {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}

.h19 {
  min-height: 19px;
  height: auto;
}

.bg-377fcc {
  background-color: #377fcc !important;
}

.w100 {
  width: 100px !important;
}

.w150 {
  width: 150px !important;
}

.flex6 {
  flex: 60% !important;
}

.flex35 {
  flex: 35% !important;
}

.flex15 {
  flex: 15% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.h300 {
  min-height: 300px;
  max-height: 300px;
}

.app-input-style {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  &:focus {
    box-shadow: none;
  }  
}

.enable-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fd7e14; 
  border-radius: 0px;
}
