@import 'bootstrap/scss/bootstrap';
@import 'izitoast/dist/css/iziToast.css';

@import './variables';
@import './authencation';

body {
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

.alert-modal {
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 10px;  
}

.text-proper {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}

.h19 {
  min-height: 19px;
  height: auto;
}

.bg-377fcc {
  background-color: #377fcc !important;
}

.w100 {
  width: 100px !important;
}

.flex6 {
  flex: 60% !important;
}

.flex35 {
  flex: 35% !important;
}

.flex15 {
  flex: 15% !important;
}

.cursor-pointer {
  cursor: pointer;
}